In [46]:
import pandas as pd
df = pd.read_csv('dirty_cafe_sales.csv')

In [47]:
import numpy as np
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [49]:
#changing data type to suitable data types
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce').astype('Int64')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce').astype('float64')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce').astype('float64')

In [50]:
pd.isnull(df).sum()

Transaction ID         0
Item                 333
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9521 non-null   Int64
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: Int64(1), float64(2), object(5)
memory usage: 634.9+ KB

In [52]:
#dropping rows where quantity and price per unit both are null
df = df.dropna(subset=['Quantity', 'Price Per Unit'], how='all')

In [53]:
#dropping rows where transaction date is null
df = df.dropna(subset=['Transaction Date'],how='any')

In [67]:
cols = ['Quantity', 'Price Per Unit', 'Total Spent']
# Convert to numeric, setting errors='coerce' will turn invalid values into NaN
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

#we have 3 columns which are interconnected so if any 2 is available we can find the 3rd by using equations
# Fill missing Quantity using loc function
df.loc[df['Quantity'].isna(), 'Quantity'] = (
    df['Total Spent'] / df['Price Per Unit']
)
# Fill missing Price Per Unit using loc function
df.loc[df['Price Per Unit'].isna(), 'Price Per Unit'] = (
    df['Total Spent'] / df['Quantity']
)
# Fill missing Total Spent using loc function
df.loc[df['Total Spent'].isna(), 'Total Spent'] = (
    df['Quantity'] * df['Price Per Unit']
)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9824 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9824 non-null   object
 1   Item              9498 non-null   object
 2   Quantity          9804 non-null   Int64
 3   Price Per Unit    9805 non-null   Float64
 4   Total Spent       9785 non-null   Float64
 5   Payment Method    7295 non-null   object
 6   Location          6619 non-null   object
 7   Transaction Date  9824 non-null   object
dtypes: Float64(2), Int64(1), object(5)
memory usage: 977.6+ KB

In [68]:
#counting of null values in all the column
pd.isnull(df).sum()

Transaction ID       0
Item                78
Quantity             0
Price Per Unit       0
Total Spent          0
Payment Method       0
Location             0
Transaction Date     0
dtype: int64

In [69]:
#dropping of Total Spent Rows where the data is blank after the equation , because from the 3 columns(qty, price & total spent) 2 columns dont have value that is why
df=df.dropna(subset=['Total Spent'], how='any')

In [70]:
#displaying unique values in Location Column
df['Location'].unique()

array(['Takeaway', 'In-store'], dtype=object)

In [71]:
#counting of how many time a value is appearing in Transaction date
df['Transaction Date'].value_counts()

Transaction Date
2023-06-16    40
2023-02-06    40
2023-03-13    39
2023-07-21    39
2023-07-24    39
              ..
2023-11-24    15
2023-07-30    15
2023-07-22    14
2023-03-11    14
2023-02-17    14
Name: count, Length: 365, dtype: int64

In [72]:
#replacing Error and UNknown with Digital Wallet
df['Payment Method'] = df['Payment Method'].replace({'ERROR':'Digital Wallet','UNKNOWN':'Digital Wallet'})

In [73]:
#Filling null values with Credit Card in payment mode column
df["Payment Method"] = df['Payment Method'].fillna("Credit Card")

In [75]:
#replacing ERROR or UNKNOWN value to instore, filling null values with Takeaway
df['Location'] = df['Location'].replace({'ERROR':'In-store','UNKNOWN':'In-store'})
df['Location'] = df['Location'].fillna("Takeaway")

In [76]:
df.info()
pd.isnull(df).sum()

<class 'pandas.core.frame.DataFrame'>
Index: 9485 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9485 non-null   object
 1   Item              9407 non-null   object
 2   Quantity          9485 non-null   Int64
 3   Price Per Unit    9485 non-null   Float64
 4   Total Spent       9485 non-null   Float64
 5   Payment Method    9485 non-null   object
 6   Location          9485 non-null   object
 7   Transaction Date  9485 non-null   object
dtypes: Float64(2), Int64(1), object(5)
memory usage: 952.7+ KB

Transaction ID       0
Item                78
Quantity             0
Price Per Unit       0
Total Spent          0
Payment Method       0
Location             0
Transaction Date     0
dtype: int64

In [77]:
#dropping transaction date where value is ERROR or UNKNOWN
df = df[~df["Transaction Date"].isin(["ERROR", "UNKNOWN"])]

In [78]:
#placing items based on the price in the rows where values are (null , error, unknown)
df.loc[df['Price Per Unit']==1, 'Item'] = 'Cookie'
df.loc[df['Price Per Unit']==1.5, 'Item'] = 'Tea'
df.loc[df['Price Per Unit']==2, 'Item'] = 'Coffee'
df.loc[df['Price Per Unit']==5, 'Item'] = 'Salad'

In [ ]:
#placing items based on the price in the rows where values are (null , error, unknown)
df.loc[df['Price Per Unit']==4, 'Item'] = 'Smoothie'
df.loc[df['Price Per Unit']==3, 'Item'] = 'Juice'

In [80]:
df['Item'].value_counts()

Item
Juice       2431
Smoothie    2324
Coffee      1239
Salad       1212
Cookie      1144
Tea         1135
Name: count, dtype: int64

In [81]:
df.info()
pd.isnull(df).sum()

<class 'pandas.core.frame.DataFrame'>
Index: 9485 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9485 non-null   object
 1   Item              9485 non-null   object
 2   Quantity          9485 non-null   Int64
 3   Price Per Unit    9485 non-null   Float64
 4   Total Spent       9485 non-null   Float64
 5   Payment Method    9485 non-null   object
 6   Location          9485 non-null   object
 7   Transaction Date  9485 non-null   object
dtypes: Float64(2), Int64(1), object(5)
memory usage: 952.7+ KB

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [82]:
df.to_csv('clean_cafesales.csv',index=False)